body {
    font-family: Arial, sans-serif;
    margin: 0;
}

div {

    box-sizing: border-box;
}

.wrapper {
    padding: 0 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.clear {
    clear: both;
    height: 0;
    width: 100%;
}

.entry .image {
    float: left;
    width: 30%;
    text-align: center;
}

.entry .image img {
    max-width: 100%;
    height: auto;
}

.entry .description {
    padding-left: 10px;
    width: 70%;
    float: right;
}

.entry .description p {
    text-align: justify;
    margin: 15px 0;
    padding: 0;
}

.entry .keys .key {
    width: 48%;
    background-color: #F2F2F2;
    padding: 10px 15px;
    margin-top: 10px;
    float: left;
}

.entry .keys .key:nth-child(2n+1) {
    margin-right: 2%;
}


.entry .keys .key .key-text {
    float: left;
    font-weight: bold;
    display: inline-block;
}

.entry .keys .key .value-text {
    float: right;
    color: #898989;
}


@media only screen and (max-width: 767px) {
    .entry .image, .entry .description {
        width: 100%;
    }

    .entry .description {
        padding-left: 0px;
    }

    .entry .keys .key {
        width: 100%;
        background-color: transparent;
        margin: 10px 0;
        padding: 0px;

    }

    .entry .keys .key:nth-child(2n+1) {
        margin-right: 0px;
    }

    .entry .keys .key .key-text, .entry .keys .key .value-text{
        display: block;
        float: none;
        padding-bottom: 5px;
    }

}

